<a href="https://colab.research.google.com/github/Larenz06/OOP-58002/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
if 5>2:
  print("Yes")

Yes

In [2]:
print("Hello, World")

Hello, World

In [3]:
x = "Sally"

a = 0
a,b,c=0,1,2

print(x)
print(a)
print(b)
print(c)
print(a,b,c)

Sally
0
1
2
0 1 2

In [4]:
d = 4
d = int(4)
print(d)

4

In [5]:
d = 4
d = int(4)
print(type(d))

<class 'int'>

In [6]:
#y = "Ana"
#print(y)

y = 'Ana'
Y = "Robert"
print(y)
print(Y)

Ana
Robert

In [7]:
#x = "Tony"
k=l=m="four"
print(k)
print(l)
print(m)
print(k,l,m)

four
four
four
four four four

In [8]:
print('Python programming is enjoying')

h = "enjoying"
p= "Python programming is"
print("Python programming is" + h)
print(p+" " + " " +h)

Python programming is enjoying
Python programming isenjoying
Python programming is  enjoying

In [9]:
print(c+d)   # c = 2, d = 4
print(d-c)
print(d*c)
print(int(d/c))
print(d%c)
print(3//2)    # 1.50
print(d**c)

6
2
8
2
0
1
16

In [10]:
q=10
q+=5 # same as q=q+5

print(q)    #same as q = q+5,  q = 10+5=15

15

In [11]:
s = 10
print(s^2)
print(s|2)

8
10

In [12]:
print(s>q)
print(s==s)
print(q==q)

False
True
True

In [13]:
s>q and s==s  #False
s>q or s==s  #True

print(s>q and s==s)
print(s>q or s==s)

False
True

In [14]:
s is q
print(s is not q)

True

In [15]:
u=2 # 0001
print(u<<1)

g = 10
print(g<<1)

4
20