<a href="https://colab.research.google.com/github/Larenz06/OOP-58002/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [ ]:
a = 7
b =6

print(10>9)
print(10<9)
print(a>b)

True
False
True

In [ ]:
print(bool("Maria"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

In [ ]:
def my_Function():
  return True
print(my_Function())

True

In [ ]:
if my_Function():
  print("True")
else:
  print("False")

True

In [ ]:
print(a==b)
print(a<b)

False
False

In [ ]:
print(10+5)
print(10-5)
print(10/3)
print(10*5)
print(10%5)
print(10//3)       #10/3 = 3.3333
print(10**2)

15
5
3.3333333333333335
50
0
3
100

In [ ]:
c = 60 # binary 0011 1100
d = 13 # binary 0000 1101

c&d
print(c|d)
print(c^d)

print(d<<2)

61
49
52

In [ ]:
h = True
l = False
h and l
h or l
not (h or l)

False

Application 2

In [ ]:
x = 100
x+=3 # Same as x = x +3,  x = 100+3=103
print(x)

103

In [ ]:
h is l
h is not l

True

In [ ]:
if a>b:
  print("a is greater than b")

a is greater than b

In [ ]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

a is greater than b

In [ ]:
a= 10
b =10

if a>b:
  print("a is greater than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

In [ ]:
if a==b: print("a is equal to b")

a is equal to b

In [ ]:
a = 10
b = 9
print("a is greater than b") if a>b else print('b is greater than a')

a is greater than b

In [ ]:
if a>b and b==b:
  print("both conditions are True")

both conditions are True

In [ ]:
if a<b or b==b:
  print("the condition is True")

the condition is True

In [ ]:
x = int(input())

if x>10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
        if x>50:
          print("and also above 50")
        else:
          print("but not above 50")

48
x is above 10
and also above 20
and also above 30
and also above 40
but not above 50

In [ ]:
week = ['Sunday',"Monday",'Tuesday', "Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [ ]:
for x in week:
  print(x)
  if x=="Wednesday":
    break

Sunday
Monday
Tuesday
Wednesday

In [ ]:
for x in week:
  if x=="Wednesday":
    break
print(x)

Wednesday

In [ ]:
i =1
while i<6:
  print(i)
  i+=1   #same as i = i +1

1
2
3
4
5

In [ ]:
i =1
while i<6:
  if i==3:
    break
  i+=1
print(i)

3